body {
  position: relative;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

::placeholder {
  color: white !important;
  font-size: 15px;
  opacity: 46%;
}

input {
  font-size: 15px;
  padding: 20px;
  background: none;
  color: #ffffff !important;
  &:focus {
    background: rgba(255,255,255,0.46);
    outline: none;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

//::-webkit-scrollbar-thumb {
//  background: ${({theme}) => theme.actionColor};
//}
//
//::-webkit-scrollbar {
//  width: 10px;
//}
//::-webkit-scrollbar-thumb:hover {
//  background: ${({theme}) => theme.actionColor};
//}
