.wrapper {
  display: flex;
  height: 100vh;
  position: relative;
}

.blur {
  position: absolute;
  z-index: 8;
  top: 0;
  height: 16vh;
  width: 67vw;
  background: rgba(255,255,255, 0.002);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255,255,255, 0.1) !important;
  @media (max-width: 768px) {
    width: 100vw;
  }
}

.chat {
  position: relative;
  overflow-y: scroll;
  width: 70vw;
  margin: 40px 0 100px 0;
  @media (max-width: 768px) {
    width: 100vw;
  }
}

.decoration {
  position: fixed;
  bottom: -70px;
  right: 15vw;
  z-index: 5;

  .image {
    width: 20vw;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
