.userList {
  width: 25%;
  background: rgba(3,11,25, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 30px;
  padding: 30px;
  color: #FFFFFF;
  text-align: right;
  margin: 40px;
  font-weight: 200;
  overflow-y: scroll;
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
}

.user {
  margin: 10px 0;
}

.userName {
  font-size: 35px;
  margin: 0;
}

.avatar {
  display: flex;
  justify-content: right;
  align-items: center;
  img {
    margin-left: 10px;
  }
}