@import '/src/assets/colors.module';

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: $blueDark;
  display: flex;
  z-index: 9;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .background {
    position: absolute;
    height: 65vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(22, 46, 93, 1) 45%, rgba(30, 68, 140, 1) 100%);
    bottom: 0;
  }
}

.wrapper {
  display: flex;
}

.role {
  opacity: 0;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bold;
  color: $blueDark;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: absolute;
  z-index: 10;
  top: 45px;
  margin: 0;
}

.leftRole {
  transform: rotate(180deg);
  left: 10px;
}

.rightRole {
  transform: rotate(0deg);
  right: 10px;
}

.wrapperRole {
  cursor: pointer;
  position: relative;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    transition-duration: 200ms;

    .devChoice, .desChoice {
      width: 12vw;
      height: 45vh;
      transition-duration: 200ms;

      @media (max-width: 768px) {
        height: 40vw;
        width: 12vh;
      }
    }

    .role {
      opacity: 1;
      transition-duration: 200ms;
    }
  }
}

.isActive {
  opacity: 1 !important;

  .devChoice, .desChoice {
    width: 12vw;
    height: 45vh;
    transition-duration: 200ms;

    @media (max-width: 768px) {
      height: 40vw;
      width: 12vh;
    }
  }

  .role {
    opacity: 1;
    transition-duration: 200ms;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.image {
  width: 18vw;
  position: absolute;
  bottom: -15%;
  right: 0;
  left: 10%;
  @media (max-width: 768px) {
    width: 35vw;
  }
}

.input {
  border: 2px solid #ffffff !important;
  margin-top: 10vh;
  z-index: 10;
  width: 12vw;
  text-align: center;
  border-radius: 15px;
  padding: 20px;

  ::placeholder {
    color: white !important;
    font-size: 15px;
    text-align: center;
    opacity: 46%;
  }

  @media (max-width: 768px) {
    width: 50vw;
  }
}

.logo {
  z-index: 50;
  width: 100px;
  position: fixed;
  top: 20px;
  left: 20px;
}

.bottomDecoration {
  position: absolute;
  z-index: 10;
  right: 10vw;
  bottom: -5px;
  @media (max-width: 768px) {
   display: none;
  }
}

.leftDecoration {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 10vh;
  @media (max-width: 768px) {
   display: none;
  }
}

.blueBloc {
  width: 60px;
  height: 13px;
  border-radius: 6px;
  background: $white;
  opacity: 80%;
  position: absolute;
  bottom: 10px;
  left: -10px;
}

.yellowBloc {
  width: 45px;
  height: 13px;
  border-radius: 6px;
  background: $yellow;
  opacity: 80%;
  position: absolute;
  top: 28px;
  right: 15px;
}

.devChoice {
  width: 12vw;
  height: 40vh;
  background: $white;
  border-radius: 100px;
  position: relative;
  margin-left: 13vw;
  @media (max-width: 768px) {
    height: 30vw;
    width: 10vh;
  }
}

.desChoice {
  width: 12vw;
  height: 40vh;
  background: $yellow;
  border-radius: 100px;
  position: relative;
  margin-right: 13vw;
  @media (max-width: 768px) {
    height: 30vw;
    width: 10vh;
  }
}

.hide {
  display: none;
}

.changeScale {
  transform: scaleX(-1);
  bottom: -20% !important;
  right: 10% !important;
  left: auto !important;
}

.enterButton {
  cursor: pointer;
  z-index: 10;
  margin-top: 2vh;
  height: 15vh;

  // animate
  svg {
    animation: rotate 6s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
  }

  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
}

.blocked {
  width: 25vw;
  @media (max-width: 768px) {
    width: 20vw;
  }
}
